---
import Title from '../atoms/Title.astro';
import './badges.css';
---
<div id="badges">
            <Title contenido="Badges" />
            <div class="badges-grid">
                <a href="https://www.credly.com/badges/23ad3b97-f27e-4be0-9c57-8be97450b3d0/public_url" target="_blank">
                    <img src="https://images.credly.com/size/180x180/images/00634f82-b07f-4bbd-a6bb-53de397fc3a6/image.png" alt=" Badge AWS Cloud Practicioner" >
                </a>
                <a href="https://www.credly.com/badges/22739c64-5367-49b8-9529-bb30a1697648/linked_in?t=sf2sp0"
                    target="_blank">
                    <img src="https://images.credly.com/size/180x180/images/1253a20d-203c-4077-a7c8-7289af825486/image.png" alt=" Badge Python" >
                </a>
                <a href="https://www.credly.com/badges/8d0b73c4-38ca-4a07-86a5-3f832cd3cc88" target="_blank">
                    <img src="https://images.credly.com/size/180x180/images/57cd0782-e05d-40f6-ac99-139e8727b945/image.png" alt="Badge Engenharia de Dados">
                </a>
                <a href="https://www.credly.com/badges/24b83bd0-b176-4914-bc55-b59642a7c680/public_url" target="_blank">
                    <img src="https://images.credly.com/size/340x340/images/7c7fb461-8436-40ba-a25e-4df872095103/image.png" alt="Badge SRE">
                </a>
                <a href="https://www.credly.com/badges/db28c10b-1dab-43a8-82e4-afe481df14f7/public_url" target="_blank">
                    <img src="https://images.credly.com/size/110x110/images/3bb81f31-b826-4462-8758-d25d2d43083c/image.png" alt="Badge Generativa IA" >
                </a>
            </div>

 

</div>


</section>