---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Desenvolvedora, com habilidades na linguagem Pyhon, Typescript e Java, Já trabalhei com Framework Astro, Angular, React, Node e Spring. 
		 Atuando como Engenheira de Dados no Itau, criando pipelines de dados para integração seja via Kafka PubSub, ou via Mesh. 
		</p>
		
	</div>
</section>
