#skills {
	display: flex;
	max-width: calc(var(--max-width) + 2.2rem);
	padding: 1.1rem;
	gap: 2.2rem;
	margin: 4rem auto;
}

#skills .text-content {
	max-width: 40%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.1rem;
}

#skills .text-content-list {
	font-size: 2.0rem;
	color:antiquewhite;
	list-style-type: circle;
	list-style-position: inside;
}

@media screen and (max-width: 768px) {
	#skills {
		flex-direction: column-reverse;
	}
	#skills .text-content {
		max-width: 100%;
	}
}
