---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Desenvolvedora Fullstack, com habilidades na linguagem Pyhon, Typescript e Java, Já trabalhei com Framework Astro, Angular, React, Node e Srping. Mestre em integração de dados, seja via Kafka PubSub, ou via DataMesh. Sempre buscansdo aprender algo novo.  
		</p>
		
	</div>
</section>
