---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<ol class="text-content-list">
			<li>CI/DI;</li>
			<li>Cloud Computing;</li>
			<li>IaC - Infraestrutura as Code, usando cloud formation e Terraform;</li>
			<li>Linguagens Progamação: Python, Typescript, Java;</li>
			<li>Linux;</li>
			<li>Observabilidade</li>
			<li>Processamento Dados: OLAP/OLTP;</li>
			<li>Serviços AWS: Lambda, ECS, RDS, Glue, Event Bridge, Step Functions, S3, Athena, etc;</li>
		</ol>
		
	</div>
</section>
