---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<ol class="text-content-list">
			<li>Cloud Computing</li>
			<li>Data Analytics</li>
			<li>Python</li>
			<li>IaC - Infraestrutura as Code</li>
			<li>Java</li>
			<li>Terraform</li>
			<li>SQL</li>
			<li>Git</li>
			<li>I.A</li>
			<li>Linux</li>
			<li>Shell Script</li>
			<li>Apache Kafka</li>
			<li>Apache Spark</li>
			<li>AWS</li>
		</ol>
	
		
	</div>
</section>
