---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="img/cachos.jpg"
			alt="Foto de perfil de Estela"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mim" />
			<p class="about__text">
				Engenheira de Dados
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
