---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="../..estelinhadev/img/cachos.png"
			alt="Foto de perfil de Estela"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mim" />
			<p class="about__text">
				Desenvolvedora backend, com habilidades nas linguagens Pyhon, Typescript, Java e Terraform, se especializando em IaC. 
				Atuando como Engenheira de Dados no Itau, criando pipelines de dados e aplicações na nuvem AWS para o processo de ETL/ELT.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
