---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="estelaOliveira">
	<div class="terminal__skills">
		<h2>Minhas habilidades</h2>
		<div class="terminal__skills__container">
		<TerminalIcon src="estelinhadev/assets/aws.svg" color="#ddd8e7ff" name="" />
			<TerminalIcon
				src="estelinhadev/assets/python.svg"
				color="#ffc038ff"
				name="Python"
			/>
			<TerminalIcon
				src="estelinhadev/assets/kafka.svg"
				color="#FF4747"
				name="Kafka"
			/>
			<TerminalIcon src="estelinhadev/assets/datadog.svg" color="#7738ff" name="" />
				<TerminalIcon src="estelinhadev/assets/mysql.svg" color="#389fffff" name="" />
			<TerminalIcon src="estelinhadev/assets/html.svg" color="#b39638ff" name="" />
				<TerminalIcon
				src="estelinha/assets/typescript.svg"
				color="#274970ff"
				name=""
			/>
			
		</div>
	</div>
</Terminal>
