---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="estelaOliveira">
	<div class="terminal__skills">
		<h2>Minhas habilidades</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src="estelinhadev/assets/python.svg"
				color="#7738ff"
				name="Python"
			/>
			<TerminalIcon
				src="estelinhadev/assets/kafka.svg"
				color="#FF4747"
				name="Kafka"
			/>
			<TerminalIcon src="estelinhadev/assets/datadog.svg" color="#00A3FF" name="" />

	

			<TerminalIcon
				src="estelinha/assets/aws.svg"
				color="#FFFF"
				name=""
			/>
			
		</div>
	</div>
</Terminal>
